<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnapshotTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC8D633D2A867023001FA5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8D634D2A867024001FA5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8D63572A867024001FA5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
